<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="nugetBase" value="https://api.nuget.org/v3/index.json" />
	<add key="BridgeIntelligence" value="https://pkgs.dev.azure.com/bridgeintel/InspectX/_packaging/BridgeIntelligence%40Local/nuget/v3/index.json" />
</packageSources>
</configuration>